// bower:scss
// endbower

body {
    background: #cacaca;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;

}

.thumbnail {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.detail {
    display: inline-block;
    margin: 2px 2px 2px 2px;
}

.container {
    margin: 0px auto;
    width: 1000px;
    height: 1000px;
    background-color: #cacaca;
}

.thumbnailContainer {

}

.editContainer {

}

input {
    display: inline-block;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 15px 0 0px 10px;
    width: 273px;
}

.urlInput {
    display: inline-block;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0px 0 10px 10px;
    width: 320px;
}